# 
ASSIGNMENT 3

1. L=[1,23,’hello’,1] print(type(L))

   a)list

   b)integer

   c)string

   d)None of the above

In [1]:
L=[1,23,'hello',1] 
print(type(L))

<class 'list'>

2. L=[10,20,30]

print(L[1]*L[-1])

  a)Error

  b)300

  c)200

  d)600

In [2]:
L=[10,20,30]
print(L[1]*L[-1])

600

3. Find the minimum and maximum values of given list?
my_list=[34,45,563,435,656,435,767,34,5676,45,2,2,2,3556,65]

In [3]:
my_list=[34,45,563,435,656,435,767,34,5676,45,2,2,2,3556,65]
print("minimum element in the list is : ",min(my_list))
print("maximum element in the list is : ",max(my_list))

minimum element in the list is :  2
maximum element in the list is :  5676

4. Write a python program to get the product of all elements in a list?

In [4]:
prod=1
ls=[34,45,63,34,56,45,2]
for i in  ls:
  prod=prod*i
print("product of elements in list is :",prod)

product of elements in list is : 16517390400

5. Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings(create your own list and do the rest)?

In [5]:
l=['amma','a','apple','v','323','1221','mango','987']
c=0
for i in l:
 
  if len(i)>=2 and i[0]==i[-1] :
    c=c+1
print(c)

3

6. Write a program to remove the duplicates from the given list?

samp_list = [10, 20, 30, 20, 10, 50, 60, 40, 80, 50, 40]

In [6]:
samp_list = [10, 20, 30, 20, 10, 50, 60, 40, 80, 50, 40]
samp=[]
for i in samp_list :
  if i not in samp:
    samp.append(i)
print(samp)

[10, 20, 30, 50, 60, 40, 80]