# New Section

Create a list which consist of tuples

In [9]:
l=[1,2,(3,4),("a","bc"),5]
l

[1, 2, (3, 4), ('a', 'bc'), 5]

create a tuple from multiple data types?

In [10]:
tup=(1,2,'a',1.23,'abs',False)
tup

(1, 2, 'a', 1.23, 'abs', False)

create a tuple which contains numbers from 1 to 20 and replace every even values with letter ‘e’ ?

In [11]:
l=[]
for i in range(1,21):
  l.append(i)
t=tuple(l)
print("the initial tuple is:\n")
print(t,"\n")
print("the final tuple is:\n")
for i in range(1,21):
  if(i%2==0):
    print("e",end=" ")
  else:
    print(i,end=" ")

the initial tuple is:

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

the final tuple is:

1 e 3 e 5 e 7 e 9 e 11 e 13 e 15 e 17 e 19 e

In [12]:
t= (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
print("the initial tuple is:\n")
print(t,"\n")
print("the final tuple is:\n")
for i in range(1,21):
  if(i%2==0):
    print("e",end=" ")
  else:
    print(i,end=" ")

the initial tuple is:

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

the final tuple is:

1 e 3 e 5 e 7 e 9 e 11 e 13 e 15 e 17 e 19 e


create a tuple with months in a year and add/append names of days in a week into it?

In [21]:
year=("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December")
ye=list(year)
#append is used only to add one element
ye.append("sunday")

#append is used to add more than one element
ye.extend(("monday","tuesday","wednesday","thursday","friday","saturday"))
print(tuple(ye))

('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December', 'sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday')

tuple is immutable.so we cant able to add or append contents into it